<div class="form d-flex align-items-center">
    <div class="content">
        <form method="get" class="form-validate mb-4">
            <div class="form-group">
                <label for="login-username" class="label-material">Email ID</label>
                <input id="login-username" type="text" name="loginUsername" class="form-control">
            </div>
            <div class="form-group">
                <label for="gender" class="label-material">Gender</label>
                <select id="gender" type="text" name="gender" class="form-control">
                    <option value="">Select</option>
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                </select>
            </div>
            <div class="form-group">
                <label for="birthdate" class="label-material">Birth Date</label>
                <input id="birthdate" type="text" name="birthdate" class="form-control">
            </div>
            <div class="form-group">
                <label for="login-password" class="label-material">Password</label>
                <input id="login-password" type="password" name="loginPassword" class="form-control">
            </div>
            <div class="form-group">
                <label for="confirm-password" class="label-material">Confirm Password</label>
                <input id="confirm-password" type="password" name="confirmPassword" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary pull-right">Register</button>
        </form>
        <br>
        <small>Already have an account? </small>
        <a href="register.html" class="signup">Login</a>
    </div>
</div>