<div class="form d-flex align-items-center">
    <div class="content">
        <form method="get" class="form-validate mb-4">
            <div class="form-group">
                <label for="login-password" class="label-material">Old Password</label>
                <input id="login-password" type="password" name="loginPassword" class="form-control">
            </div>
            <div class="form-group">
                <label for="login-password" class="label-material">New Password</label>
                <input id="login-password" type="password" name="loginPassword" class="form-control">
            </div>
            <div class="form-group">
                <label for="confirm-password" class="label-material">Confirm Password</label>
                <input id="confirm-password" type="password" name="confirmPassword" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary pull-right">Change Password</button>
        </form>
        <div class="clearfix"></div>
        <a href="register.html" class="signup">Back</a>
    </div>
</div>