<div class="form d-flex align-items-center">
    <div class="content">
        <form method="get" class="form-validate mb-4">
            <div class="form-group">
                <label for="login-username" class="label-material">Email ID</label>
                <input id="login-username" type="text" name="loginUsername" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary pull-right">Forgot Password</button>
        </form>
        <div class="clearfix"></div>
        <a href="#" class="forgot-pass">Back</a>
    </div>
</div>
